<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>ButtFeed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/51fe8593c0.js"></script>
        
        <!-- Main Style -->
        <link rel="stylesheet" href="/assets/css/style.css">

    </head>
    <body>

    <div class="container-fluid header-bar">
        <div class="row">
            <div class="col">
                <h1>ButtFeed</h1>
                <ul>
                    <li>Find New Articles</li>
                    <li>Saved Articles</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

        {{{body}}}

        <!-- jQuery -->
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

        <!-- Main JS File -->
        <script src="/assets/js/script.js"></script>
    </body>
</html>
