<div class="container">
	{{#each fromDB}}
		<div class="row">
			<div class="col">
				<div class="card mt-3 mb-3">
				  <div class="card-body" data-id="{{this._id}}">
				    <h2 class="title">{{this.title}}</h2>
				    <p class="summary">{{this.summary}}</p>
				    <img src="{{this.img}}" alt="" class="img">
				    {{!-- Note Section --}}
				    <div class="form-group mt-3">
					    <textarea class="form-control"  rows="3"></textarea>
					  </div>
				    <button type="button" class="btn btn-primary add-note">Add Note</button>
				  </div>
				</div>
			</div>
		</div>
	{{/each}}
</div>