body {
	background: #f6f6f6;
}

.header-bar {
	text-align: center;
	padding-top: 10px;
	border-bottom: 1px solid #b1b1b1;
	position: fixed;
	top: 0;
	z-index: 1000;
	background: #FFF;
}

.header-bar a {
	color: blue;
	text-decoration: none;
}

#home-link {
	color: red !important;
	text-decoration: none;
}

.header-bar ul {
	padding: 0px;
	margin-bottom: 10px;
}

.header-bar li {
	display: inline;
	padding: 10px;
	color: blue;
}

.header-bar li:hover {
	cursor: pointer;
	color: #000;
}

.spacer {
	height: 100px;
}

.card-body {
	position: relative;
}

.card-body a {
	text-decoration: none;
	color: #000;
}

.card-body a:hover {
	color: blue;
}

.img {
	width: 100%;
}

.fa-heart {
	/*position: absolute;*/
	color: #999999;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.fa-heart:hover {
	/*position: absolute;*/
	color: #FF0000;
	cursor: pointer;
}

.delete-article {
	/*position: absolute;*/
	color: #999999;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
}

.alert i {
	float: right;
	position: relative;
	top: 4px;
}
